# can be used to store sensitive data (auth or secrets), or to change configs dinamically (mysql host)
# only the blank/example version should be included, don't store sensitive data on the example
DB_USER=root
DB_PASS=defaultpassword
DB_HOST=localhost
